# Database Configuration
DB_HOST="gateway01.eu-central-1.prod.aws.tidbcloud.com"
DB_NAME="blood_donation_db"
DB_USER="dprC2AupSaxAcQr.root"
DB_PASS="rfJM4fqrdN2X5v4e"
DB_PORT=4000

# SSL Configuration (optional - TiDB Cloud provides these)
DB_SSL_CA=/path/to/ca.pem
DB_SSL_KEY=/path/to/client-key.pem
DB_SSL_CERT=/path/to/client-cert.pem
DB_SSL_VERIFY=true
